# Problem 1

Importing required libraries for EDA

In [1]:
#data manipulation
import pandas as pd
import numpy as np

#data visualizations
import matplotlib.pyplot as plt
import seaborn as sns

#use sklearn to import a dataset
from sklearn.datasets import load_iris

a. Identify and rectify any missing values in the data using appropriate techniques.

b. Transform the Years and Month columns into a single column labeled "Date" in 
the MM-YYYY format, with a datetime64[ns] data type. For example, the year 
1848 and month 5 should be unified as a single value, such as 5-1848.

c. Detect and investigate extreme temperature values that might be regarded as 
outliers.

d. Compute summary statistics for temperature, monthly variation, and anomaly 
values, including mean, median, standard deviation, and range

e. Identify the countries included in the dataset and calculate their average 
temperature values.

f. Determine the overall trend in global temperatures over the years and visualize 
this trend using a suitable chart.

g. Identify the months with the highest and lowest temperatures for each country 
and find out whether there are noticeable seasonal patterns in the temperature 
data.

h. Explore the variation in temperature anomalies on a monthly basis and identify 
any months with consistently high or low anomalies across the years.

i. Choose five countries and compare the trends in their temperatures over the 
years, seeking any similar temperature patterns

j. Explore the potential correlation between temperature and monthly variation or
anomaly values. Calculate correlation coefficients and create scatterplots to 
investigate this relationship.

k. Provide an intriguing insight from the dataset by utilizing data visualization 
techniques such as histograms, box plots, or heatmaps to represent the data's 
distribution, trends, and relationships.